@{
  ViewData["Title"] = "IniciarSesion";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - FIFO</title>
  <link rel="stylesheet" href="estilo.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
  <header>
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("IniciarSesion", "Account")'>Iniciar sesión</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("RegistrarseCliente", "Account")'>Registrarse</a>
  </li>
</ul>
  </header>

  <main>
    <main class="registro">
<img class="logo" src="Z:\prog25\cssinfo360\logocolor.png" alt="Logo FIFO">

<form action='@Url.Action("RecibirInicioDeSesion", "Account")' method="POST" class="form">

  <div class="mb-3">
    <label class="form-label">Nombre de usuario</label>
    <input type="text" name="nombreUsuario" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input type="password" name="contraseña" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar sesion</button>
</form>


<div class="extra">
  <div>
    <h3>¿No tenés cuenta?</h3>
    <a href='@Url.Action("RegistrarseCliente", "Account")'>Registrate</a>
  </div>
</div>
  </main>

  <footer class="footer">
  <div class="footer-top">
      <div class="footer-logo">
          <img src="c:\Users\48794948\Pictures\Screenshots\Captura de pantalla 2025-10-31 142500.png" alt="Logo FIFO">
          <p>Dale una segunda oportunidad a los alimentos. Reducí el desperdicio, ayudá al planeta 🌍</p>
      </div>

      <div class="footer-links">
          <div>
              <h4>Sobre FIFO</h4>
              <ul>
                  <li><a href="Index.cshtml">Que es FIFO?</a></li>
                  <li><a href="Index.html">Nuestra propuesta</a></li>
                  <li><a href="Index.html">Por qué lo hacemos?</a></li>
              </ul>
          </div>
          <div>
              <h4>Dueño</h4>
              <ul>
                  <li><a href="AgregarProducto.cshtml">Agregar producto</a></li>
                  <li><a href="EliminarProducto.cshtml">Eliminar producto</a></li>
                  <li><a href="ModificarProducto.cshtml">Modificar producto</a></li>
                  <li><a href="VerProductosMiLocal">Ver productos</a></li>
              </ul>
          </div>
          <div>
              <h4>Cliente</h4>
              <ul>
                  <li><a href="VerEmpresas.cshtml">Ver empresas</a></li>
                  <li><a href="VerProductos.chtml">Ver productos</a></li>
              </ul>
          </div>
      </div>

  <div class="footer-bottom">
      <p>© 2025 FIFO | Desarrollado por el equipo FIFO</p>
  </div>
</footer>
</body>
</html>