@{
  ViewData["Title"] = "RegistrarseDue침o";
}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - FIFO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="site.css" />
</head>

<body>
  <header>
      <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("IniciarSesion", "Account")'>Iniciar sesi칩n</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href='@Url.Action("RegistrarseCliente", "Account")'>Registrarse</a>
  </li>
</ul>
  </header>

  <main class="registro">
      <img src="~/img/Logo.png" alt="Logo FIFO" class="logo">

      <form action='@Url.Action("recibirRegistroDue침o", "Account")' method="POST" class="form">
            <input type="hidden" name="rol" value="Due침o">

          <div class="mb-3">
              <label class="form-label">Nombre de usuario</label>
              <input type="text" name="username" class="form-control" required>
          </div>

          <div class="mb-3">
              <label class="form-label">Contrase침a</label>
              <input type="password" name="password" class="form-control" required>
          </div>

          <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" name="mail" class="form-control" required>
          </div>

          <div class="mb-3">


          </div>
          <div class="mb-3">
              <label class="form-label">Local</label>
              <select name="idLocal" class="form-select" aria-label="Seleccionar local">
                  @foreach(Locales local in ViewBag.Locales){
                      <option value=@local.Id>@local.Nombre</option>
                  }
              </select>
          </div>

          <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="checkRobot" required>
              <label class="form-check-label" for="checkRobot">No soy un robot</label>
          </div>

          <div class="mb-3 text-center">
              <h5>쯏a ten칠s cuenta?</h5>
              <a href='@Url.Action("IniciarSesion", "Account")'>Iniciar sesi칩n</a>
          </div>

          <button type="submit" class="btn btn-primary w-100">Registrarse</button>
      </form>
  </main>

  <footer class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="img/Captura_de_pantalla_2025-03-28_122750-removebg-preview.png" alt="Logo FIFO">
            <p>Dale una segunda oportunidad a los alimentos. Reduc칤 el desperdicio, ayud치 al planeta 游깴</p>
        </div>

        <div class="footer-links">
            <div>
               <h4>Sobre FIFO</h4>
              <ul>
                  <li><a href='@Url.Action("Index", "Account")'>Que es FIFO?</a></li>
                  <li><a href='@Url.Action("Index", "Account")'>Nuestra propuesta</a></li>
                  <li><a href='@Url.Action("Index", "Account")'>Por qu칠 lo hacemos?</a></li>
              </ul>
          </div>
          <div>
              <h4>Due침o</h4>
              <ul>
                  <li><a href='@Url.Action("AgregarProducto", "Due침o")'>Agregar producto</a></li>
                  <li><a href='@Url.Action("EliminarProducto", "Due침o")'>Eliminar producto</a></li>
                  <li><a href='@Url.Action("AgregarProducto", "Due침o")'>Modificar producto</a></li>
                  <li><a href='@Url.Action("VerProductosMiLocal", "Due침o")'>Ver productos</a></li>
              </ul>
          </div>
          <div>
              <h4>Cliente</h4>
              <ul>
                  <li><a href='@Url.Action("VerEmpresas", "Due침o")'>Ver empresas</a></li>
                  <li><a href='@Url.Action("VerProductos", "Due침o")'>Ver productos</a></li>
              </ul>
          </div>
        </div>

    <div class="footer-bottom">
        <p>춸 2025 FIFO | Desarrollado por el equipo FIFO</p>
    </div>
</footer>
</body>
</html>

