@{
  ViewData["Title"] = "ModificarProducto";
}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - NombreProyecto</title>
  <link rel="stylesheet" href="estilos.css" asp-append-version="true" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
  <header>
        <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href='@Url.Action("AgregarProducto", "Due침o")'>Cargar producto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='@Url.Action("EliminarProducto", "Due침o")'>Eliminar producto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='@Url.Action("VerProductoAModificar", "Due침o")'>Modificar producto</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href='@Url.Action("VerProductosMiLocal", "Due침o")'> Ver productos con descuentos</a>
    </li>
  </ul>
  </header>
<main class="owner-main">
  <h4 class="owner-title">Aqui puedes elegir que producto queres modificar de tu negocio:</h4>
  <div class="productos-lista">
      @foreach(ProductosTemporalesVto producto in ViewBag.productos){
        <article class="producto-card">
          <div class="producto-info">
            <p>Producto: @producto.Nombre</p>
            <p>Precio original: $@producto.PrecioInicial</p>
            <p>Precio con descuento: $@producto.PrecioConDescuento</p>
            <p>Categor칤a: @producto.Categoria</p>
            <p>Fecha de vencimiento: @producto.FechaVencimiento.ToString("dd/MM/yyyy")</p>   
            
            <form action='@Url.Action("VerProductoAModificar", "Due침o")' method="POST">
                <input type="hidden" name="Id" value="@producto.IdLocalesProductosVto" />
                <button type="submit" class="btn-eliminar">Modificar</button>
            </form>
        </div> 

        <div class="producto-imagen">
          <img src="~/img/@producto.Foto"/>
        </div>
          </article>

    }

</main>
<footer class="footer">
  <div class="footer-top">
      <div class="footer-logo">
          <img src="c:\Users\48794948\Pictures\Screenshots\Captura de pantalla 2025-10-31 142500.png" alt="Logo FIFO">
          <p>Dale una segunda oportunidad a los alimentos. Reduc칤 el desperdicio, ayud치 al planeta 游깴</p>
      </div>

      <div class="footer-links">
          <div>
              <h4>Sobre FIFO</h4>
              <ul>
                  <li><a href="Index.cshtml">Que es FIFO?</a></li>
                  <li><a href="Index.html">Nuestra propuesta</a></li>
                  <li><a href="Index.html">Por qu칠 lo hacemos?</a></li>
              </ul>
          </div>
          <div>
              <h4>Due침o</h4>
              <ul>
                  <li><a href="AgregarProducto.cshtml">Agregar producto</a></li>
                  <li><a href="EliminarProducto.cshtml">Eliminar producto</a></li>
                  <li><a href="ModificarProducto.cshtml">Modificar producto</a></li>
                  <li><a href="VerProductosMiLocal">Ver productos</a></li>
              </ul>
          </div>
          <div>
              <h4>Cliente</h4>
              <ul>
                  <li><a href="VerEmpresas.cshtml">Ver empresas</a></li>
                  <li><a href="VerProductos.chtml">Ver productos</a></li>
              </ul>
          </div>
      </div>

  <div class="footer-bottom">
      <p>춸 2025 FIFO | Desarrollado por el equipo FIFO</p>
  </div>
</footer>
<script src="./site.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>