@{
    ViewData["Title"] = "VerProductos";
    var productos = ViewBag.Productos as List<dynamic>;
    var cliente = ViewBag.cliente;
     var filtroActual = Context.Request.Query["filtro"];
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
<header> 
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href='@Url.Action("VerProductos", "Cliente")'>Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='@Url.Action("VerEmpresas", "Cliente")'>Empresas</a>
    </li>
  </ul>
    </div>
</nav>
</header>
 <main>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
      @(filtroActual == "1" ? "Categoria" :
        filtroActual == "2" ? "Menor a mayor descuento" :
        filtroActual == "3" ? "Mayor a menor descuento" :
        "Ver productos")
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#" onclick="aplicarFiltro(1)">Categoria</a></li>
    <li><a class="dropdown-item" href="#" onclick="aplicarFiltro(2)">Menor a mayor precio</a></li>
    <li><a class="dropdown-item" href="#" onclick="aplicarFiltro(3)">Mayor a menor precio</a></li>
  </ul>
</div>


<div>
            @if (ViewBag.Productos != null && ViewBag.Productos.Count > 0)
            {
                foreach (ProductosTemporales producto in ViewBag.Productos)
                {
                    <section>
                        <img src="~/img/@producto.Foto"/>
                            <div>
                                <p>Producto:@producto.Nombre</p>
                                <p>Supermercado: @producto.Local</p>
                                <p>Precio original:$@producto.PrecioInicial</p>
                                <p>Precio con descuento: $@producto.PrecioConDescuento</p>
                                <p>Catergoria: @producto.Categoria</p>
                                <p>Fecha de vencimiento: @producto.FechaVencimiento.ToString("dd/MM/yyyy")</p>
                            </div>
                    </section>
                }
            }
            else
            {
                <p>No hay productos con descuento disponibles.</p>
            }
        </div>
</main>
<footer class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="img/Captura_de_pantalla_2025-03-28_122750-removebg-preview.png" alt="Logo FIFO">
            <p>Dale una segunda oportunidad a los alimentos. Reduc칤 el desperdicio, ayud치 al planeta 游깴</p>
        </div>

        <div class="footer-links">
            <div>
                <h4>Sobre FIFO</h4>
              <ul>
                  <li><a href='@Url.Action("Index", "Account")'>Que es FIFO?</a></li>
                  <li><a href='@Url.Action("Index", "Account")'>Nuestra propuesta</a></li>
                  <li><a href='@Url.Action("Index", "Account")'>Por qu칠 lo hacemos?</a></li>
              </ul>
          </div>
          <div>
              <h4>Due침o</h4>
              <ul>
                  <li><a href='@Url.Action("AgregarProducto", "Due침o")'>Agregar producto</a></li>
                  <li><a href='@Url.Action("EliminarProducto", "Due침o")'>Eliminar producto</a></li>
                  <li><a href='@Url.Action("AgregarProducto", "Due침o")'>Modificar producto</a></li>
                  <li><a href='@Url.Action("VerProductosMiLocal", "Due침o")'>Ver productos</a></li>
              </ul>
          </div>
          <div>
              <h4>Cliente</h4>
              <ul>
                  <li><a href='@Url.Action("VerEmpresas", "Due침o")'>Ver empresas</a></li>
                  <li><a href='@Url.Action("VerProductos", "Due침o")'>Ver productos</a></li>
              </ul>
          </div>
        </div>

    <div class="footer-bottom">
        <p>춸 2025 FIFO | Desarrollado por el equipo FIFO</p>
    </div>
</footer>
<script>
    function aplicarFiltro(filtro) {
        window.location.href = '@Url.Action("VerProductos", "Cliente")?filtro=' + filtro;
    }
</script>
</body>
</html>